PORT=3000
MONGO_URI=mongodb://localhost:27017/swii_lesiones
OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast
METEOALARM_FEED_URL=https://feeds.meteoalarm.org/feeds/meteoalarm-legacy-atom.xml
